<div class="well">
  <h4>You haven't added any Poppin friends yet</h4>
  <p>Click on the <strong>Manage Friends</strong> button below or in the <strong>Menu Bar</strong> above to add some friends</p>
</div>